.priorityLow {
    -fx-background-color: palegreen;
}

.priorityMedium {
    -fx-background-color: skyblue;
}


.priorityFinished{
    -fx-background-color: lightgray;
    }
.priorityFinished .text {
    -fx-strikethrough: true;
}
.priorityHigh{
    -fx-background-color: palevioletred;
}

