.priorityLow {
    -fx-background-color: #46c563;
    -fx-opacity: 0.7;
    -fx-border-insets: 0 0 1 1, 0 0 0 0;
}

.priorityMedium {
    -fx-background-color: #367aff;
    -fx-opacity: 0.7;
}

.priorityFinished {
    -fx-background-color: lightgray;
    -fx-opacity: 0.7;
}

.priorityFinished .text {
    -fx-strikethrough: true;
}

.priorityHigh {
    -fx-background-color: #c63b23;
    -fx-opacity: 0.7;
}

/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-opacity: 1;
    -fx-background-color: -fx-focus-color;
    -fx-font-size: 1.3em; /* 13pt - 1 more than the default font */
    -fx-border-color: black;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-opacity: 1;
    -fx-background-color: -fx-focus-color;
    -fx-font-size: 1.3em; /* 13pt - 1 more than the default font */
    -fx-border-color: black;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-opacity: 1;
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-opacity: 1;
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}

/* Selected row hovered when table not focused */
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-opacity: 1;
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}